*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 30vw;
    gap: 2em;
}
#top-row{
    display: flex;
    justify-content: space-between;
    min-width: 30vw;
    color: black;
}
#top-row:first-child{
    display: flex;
    align-items: center;
}

#middle-rows{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    
}
.grid-item{
    padding: 4em;
    border: 1px solid black;
    min-height: 3em;
    min-width: 3em;
}
.grid-item:hover{
    cursor: pointer;
    background-color: gainsboro;
}
#bottom-row{
    display: flex;
    justify-content: space-around;
}
.score-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}